<% provide(:title, "all") %>

<% @men.each do |man| %>
[name] <%= man.name %>
<% end %>


<form>
<p>名前<input type="text" name="name"></p>
<button name "submit0" type="submit" class="btn btn-default">追加する</button>
<button name="submit1" value="new">新規登録</button>
<button name="submit2" value="change">登録変更</button>
</form>
